.jumbotron {
	padding-left: 250px;
}

.container {
	position: absolute;
	bottom: 0;
	padding-left: 250px;
}

.formulario {
	padding-left: 250px;
	padding-right: 250px;
}

.mt-4 {
	padding-left: 10px;
}
